html, body 
{
    margin: 0;
    padding: 0;
}

*
{
    font-family: 'Playfair Display';
}
#herop
{
    background-image: url(images/hero.png) ;
    background-repeat:no-repeat;
    height: 70px;
    background-position: center;
    background-size: cover;
}

.logo1
{
    display: block;
    margin-left: auto;
    margin-right: auto;
    margin-top: 50px;
    margin-bottom: 50px;
}



h1
{
    text-align: center;
    color: white;
    font-family: 'Playfair Display';
    font-size: 32px;
    line-height: 70px;
    
}
/*CONTENU !!!!!!!!!!!!!*/


#grosbloc
{
    width: 990px;
    margin-top: 50px;
    margin-left: auto;
    margin-right: auto;
}


#blocg
{
    display:block;
    float: left;
    width: 480px;
}
#blocd
{
   display:block;
   float:right;
    width: 480px;
   
}

#name
{
    
}





.bouton
{
    background-color: black;
    margin-left: auto;
    margin-right: auto;
    width: 100px;
    color: white;
    font-family: 'Playfair Display';
    padding: 10px;
    margin-top: 50px;
    margin-bottom: 50px;
    text-decoration: none;
    font: size 24px;
    text-align: center;
    

}
.baton
{
    text-align: center;
    margin-top: 90px;
}






/* ZONE FOOTER !!!!!!!!!!!!!!!!!!!!!!!!!*/
footer
{
    margin-top: 80px;
    color: white;
    background-color: black;
    height: 200px;
}

.blockfooters
{
    width: 990px;
    margin-left: auto;
    margin-right: auto;
}

.foot
{   
    float: left;
        margin-top: 25px;
        margin-right:50px;
        line-height: 150px;
        
}
#logooo

{
    float: right;
    margin-right: 25px;
    margin-top: 50px;
}

#home
{   
    margin-right: 50px;
    font-family: 'Playfair Display';
    font-size: 15px;
    color: white;
    text-decoration: none;
}

#contact
{   
    
    font-family: 'Playfair Display';
    font-size: 15px;
    color: white;
    text-decoration: none;
}

#galleryss
{   
    margin-right: 50px;
    font-family: 'Playfair Display';
    font-size: 15px;
    color: white;
    text-decoration: none;
}