html, body 
{
    margin: 0;
    padding: 0;
}
#herop
{
    background-image: url(images/hero.png) ;
    background-repeat:no-repeat;
    height: 70px;
    background-position: center;
    background-size: cover;
}

.logo1
{
    display: block;
    margin-left: auto;
    margin-right: auto;
    margin-top: 50px;
    margin-bottom: 50px;
}



h1
{
    text-align: center;
    color: white;
    font-family: 'Playfair Display';
    font-size: 32px;
    line-height: 70px;
    
}
/*CONTENU !!!!!!!!!!!!!!!*/


#grosbloc
{
    width: 990px;
    margin-top: 50px;
    margin-left: auto;
    margin-right: auto;
}



.seea
{
    text-decoration: none;
    font-family: 'Playfair Display';
    font-size: 18px;
    text-align: right;
    color: black;
}


.ima
{
    width: 310px;
    height: 199px;
    
}
#gallery > img 
{
    float: left;
    margin-right: 30px;
    margin-bottom: 30px;
}

#gallery > img:nth-child(even)
{
    margin-right: 0px;
}

#gallery>a
{
    display: block ;
    float: left;
    margin-bottom: 30px;
    margin-left: 30px;
    width: 310px;
    text-align: center;
}

#gallery
{
    margin-left: -30px;
}




/* ZONE FOOTER !!!!!!!!!!!!!!!!!!!!!!!!!*/
footer
{
    margin-top: 80px;
    color: white;
    background-color: black;
    height: 200px;
}

.blockfooters
{
    width: 990px;
    margin-left: auto;
    margin-right: auto;
}

.foot
{   
    float: left;
        margin-top: 25px;
        margin-right:50px;
        line-height: 150px;
        
}
#logooo

{
    float: right;
    margin-right: 25px;
    margin-top: 50px;
}

#home
{   
    margin-right: 50px;
    font-family: 'Playfair Display';
    font-size: 15px;
    color: white;
    text-decoration: none;
}

#contact
{   
    
    font-family: 'Playfair Display';
    font-size: 15px;
    color: white;
    text-decoration: none;
}

#galleryss
{   
    margin-right: 50px;
    font-family: 'Playfair Display';
    font-size: 15px;
    color: white;
    text-decoration: none;
}